@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    background: url('./assets/moscow.jpg') no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
header {
    width: 100%;
    background: rgb(41, 67, 78, 0.8);
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.title {
    font-size: 36px;
    padding-top: 16px;
}
.subtitle {
    font-size: 24px;
    padding-bottom: 20px;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
}
.main {
    background: rgb(41, 67, 78, 0.8);
    border-radius: 10px;
}
.moscow {
    padding-top: 20px;
    padding-bottom: 20px;
}
.spb {
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(84, 110, 122, 0.8);
}
/*.city:hover {
    background: rgba(129, 156, 169, 0.8);
}*/
.degrees {
    font-size: 48px;
    padding-top: 30px;
}
.cloudy {
    font-size: 36px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.weather {
    grid-column: span 2;
}
.date {
    grid-column: span 2;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    width: 100%;
    background: rgb(41, 67, 78, 0.8);
    color: white;
    /*position: absolute;
    bottom: 0;
    right: 0;*/
    margin-top: auto;
}
#footer {
    display: block;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
i {
    margin-left: 8px;
    color: white;
    font-size: 20px;
}
